.card {
  display: flex;
  width: 100%;
  min-height: 100%;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 15px;
}

.container-data {
  border-radius: 1rem;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 2rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 520px;
  height: auto;
  transition: all 1s;
  margin-top: 15px;
}

.container-data:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 1rem;
}

.container-data a {
  text-decoration: none;
}

.card img {
  width: 100%;
  min-height: 325px;
  max-height: 325px;
  border-radius: 1rem 1rem 0 0;
}

.card-title {
  font-size: 1.1em;
  transition: all 0.5s;
  font-family: "roboto";
  color: var(--detail-color);
  text-align: center;
  font-weight: bold;
}

.card-description {
  font-family: "montserrat";
  font-size: 1.1em;
  text-align: center;
  color: black;
  padding: 0rem 1rem;
};
