.card {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.container-data {
  border-radius: 1rem;
  padding: 1rem;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 2rem;
  display: flex;
  justify-content: center;
  margin: 15px;
  width: 520px;
  height: 520px;
  transition: all 1s;
}

.container-data:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 1rem;
}

.container-data a {
  text-decoration: none;
}

.card img {
  width: 100%;
  height: 84%;
  border-radius: 0.5rem;
}

.card-title {
  font-size: 1.1em;
  transition: all 0.5s;
  font-family: "roboto";
  color: var(--detail-color);
  text-align: center;
  font-weight: bold;
}

.card-description {
  font-family: "montserrat";
  font-size: 1.1em;
  color: black;
}

@media (max-width: 550px) {
  .container-data {
    width: 450px;
  }
}

@media (max-width: 530px) {
  .card img {
    height: 76%;
  }
  .container-data {
    height: 500px;
  }
}

@media (max-width: 470px) {
  .container-data {
    width: 400px;
  }
}

@media (max-width: 410px) {
  .container-data {
    width: 390px;
    height: 550px;
  }
  .card img {
    height: 70%;
  }
}

@media (max-width: 364px) {
  .container-data {
    width: 350px;
  }
  .card img {
    height: 60%;
  }
}
