.header {
  font-family: "roboto";
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 100%;
  padding: 20px;
  color: #fff;
  font-weight: bold;
}

.header-logo a {
  width: 40%;
  font-size: 40px;
  color: white;
}

.header-navigation {
  display: flex;
}

.header a {
  text-decoration: none;
  cursor: pointer;
}

.hiddenMenu {
  display: flex;
}

.showMenu {
  display: flex;
}

.header-navigation a {
  color: #fff;
  margin-right: 20px;
  font-size: 25px;
  text-decoration: none;
  transition: all 1s;
}

.header-navigation a:hover:after {
  transform: scaleX(0.7);
}

.header-navigation a:after {
  display: block;
  content: "";
  border-bottom: solid 3px var(--detail-color);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

@media (max-width: 1570px) {
  .header {
    justify-content: space-between;
  }
}

@media (max-width: 960px) {
  .header-navigation a:hover:after {
    transform: scaleX(1);
  }

  .header-navigation a:hover {
    margin-left: 10px;
  }

  .header-navigation a:hover:after {
    transform-origin: 0% 100%;
  }

  .header-navigation {
    flex-direction: column;
    order: 0;
  }
  .header-navigation a {
    margin: 0;
  }
  .showMenu {
    display: inline;
    transition: all 2s;
  }
  .hiddenMenu {
    display: inline;

    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
  }
  .header {
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
  .header-logo {
    order: 2;
    align-self: flex-end;
  }
}

@media (max-width: 366px) {
  .header-logo a {
    font-size: 30px;
  }
}
