@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@300&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #1f1d1d;
  --secondary-color: rgb(94, 94, 94);
  --third-color: #dcd9d9;
  --four-color: #f7f7f7;
  --detail-color: #4b6cc1;
  --fifth-optional: #ece4d8;
}

.App {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  height: 100vh;
}

.welcome {
  font-family: "montserrat";
  color: white;
  background-color: var(--main-color);
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 3px solid var(--detail-color);
}

.welcome::before {
  content: "BIENVENIDO";
  border: 3px solid var(--detail-color);
  border-right:none; 
  font-weight: 900;
  font-size: 5em;
  background: var(--secondary-color);
  position: relative;
  width: 80.4%;
  left: 20%;
}

.container-welcome {
  background: var(--secondary-color);
}


.aboutMe {
  padding: 40px;
  height: 100vh;
  background: var(--third-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.technologies-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
}

.skills {
  padding: 60px;
  background: var(--four-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects {
  background: var(--fifth-optional);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 60px;
  min-height: 100vh;
}

.project-title {
  font-family: "montserrat";
  font-size: 2rem;
  text-align: center;
  width: 100%;
}

.project {
  display: flex;
  flex-wrap: wrap;
}

.contact {
  background: var(--main-color);
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact p {
  color: white;
  font-family: "montserrat";
  font-size: 3rem;
  padding: 10px;
}

.triangle {
  background: var(--secondary-color);
  margin: 0;
  width: 100%;
  height: 200px;
  position: absolute;
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.triangle-two {
  width: 100%;
  margin: 0;
  height: 200px;
  background-color: var(--third-color);
  clip-path: polygon(0 0, 0 100%, 100% 100%);
}

.triangle-inverted {
  background: var(--third-color);
  margin: 0;
  width: 100%;
  height: 200px;
  position: absolute;
  clip-path: polygon(100% 0, 0 100%, 0 0);
}

.triangle-inverted-two {
  width: 100%;
  margin: 0;
  height: 200px;
  background-color: var(--four-color);
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}


.arrow{
  background: var(--main-color);
  margin: 0;
  width: 100%;
  height: 150px;
  position: absolute;
}

.arrow-two {
  width: 100%;
  margin: 0;
  height: 150px;
  position: relative;
  background-color: var(--fifth-optional);
  clip-path: polygon(100% 0, 0 0, 50% 50%);
}
