
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #1f1d1d;
  --secondary-color: rgb(94, 94, 94);
  --third-color: #dcd9d9;
  --four-color: #f7f7f7;
  --detail-color: #4b6cc1;
  --fifth-optional: #ece4d8;
}

.App {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  height: 100vh;
}

.welcome {
  font-family: "montserrat";
  color: white;
  background-color: var(--main-color);
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 3px solid var(--detail-color);
}

.welcome::before {
  content: "BIENVENIDO";
  border-top: 3px solid var(--detail-color);
  border-left: 3px solid var(--detail-color);
  border-bottom: 3px solid var(--detail-color);
  font-weight: 900;
  font-size: 5em;
  background: var(--secondary-color);
  position: relative;
  width: 80.4%;
  left: 20%;
}

.container-welcome {
  background: var(--secondary-color);
}


.aboutMe {
  padding: 40px;
  background: var(--third-color);
  display: flex;
  justify-content: center;
  align-items: center;
}