

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-top: 25px;
  width: 50%;}

.container-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: 0.4rem solid var(--detail-color);
}

.profile-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
  margin-top: 20px;
}

.profile-description {
  color: #828282;
  margin-top: 20px;
  line-height: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  text-align: justify;
}

.profile-description span {
font-size: 1.2em;
  color: var(--detail-color);
}

@media (max-width: 750px) {
  .profile-title {
    font-size: 1.7em;
  }
  .profile-description{
    text-align: start;
  }
}

@media (max-width: 620px) {
  .profile-title {
    font-size: 1.5em;

  }
}

@media (max-width: 590px) {
  .profile-title {
    font-size: 1.3em;

  }
  .profile-description{
    font-size: 1em;
  }
}

@media (max-width: 525px) {
  .profile-title {
    font-size: 1.2em;

  }
}

@media (max-width: 494px) {
  .profile-title {
    font-size: 1em;

  }
  .profile-description{
    font-size: 0.9em;
  }
}